extends ./layout/index  

block contenido 
     main.container.mt-5
          .row 
             .col-md-5
                 img(src="img/nosotros.jpg", alt="imagen sobre nosostros", class="img-fluid")
             
             .col-md-7
              h1=  pagina
              blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Nulla et interdum sem, eu lacinia ex. Duis vulputate nulla cursus, ultricies nulla eu, tincidunt leo. Suspendisse id velit ullamcorper, blandit turpis ac, mollis nibh. Praesent efficitur ultrices mauris id consequat. Nam ac metus in lorem pulvinar vestibulum. Duis sed sagittis nulla. Nullam lobortis augue ac elit finibus, vitae mattis massa dictum.
              
              p mattis dolor sed auctor pulvinar. Praesent laoreet eros quis risus viverra tincidunt. Aliquam erat volutpat. Proin consequat est consequat ligula luctus ultricies. Praesent eu scelerisque purus. Aenean lacinia ex ex, ut ornare enim suscipit nec. Donec a auctor massa, quis ultricies dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin faucibus mi eu ipsum dapibus ornare.
              
              p id lectus facilisis, tristique metus non, rutrum odio. Aenean fermentum, ante eget pellentesque dignissim, sem mauris dictum nisl, et pulvinar odio neque in libero. Suspendisse a velit turpis. Nam at pellentesque dui. Cras id luctus erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at odio et lectus efficitur vulputate eget vel dolor. Etiam ut nulla rutrum ipsum blandit aliquet. Praesent faucibus neque in odio elementum, ac fringilla leo efficitur. Fusce pretium tortor in ante sagittis sollicitudin.

     .listado-iconos
         .container.mt-5.py-5.text-center
              .row
                 .col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid") 
                        h2.mb-4 Seguridad  
                        p id lectus facilisis, tristique metus non, rutrum odio. Aenean fermentum, ante eget   id lectus facilisis, tristique metus non, rutrum odio. Aenean fermentum, ante eget

                 .col-md-4
                        img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid") 
                        h2.mb-4 Mejores Destinos
                        p id lectus facilisis, tristique metus non, rutrum odio. Aenean fermentum, ante eget   id lectus facilisis, tristique metus non, rutrum odio. Aenean fermentum, ante eget 
                        
                        
                 .col-md-4
                        img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid") 
                        h2.mb-4 Los Mejores Precios 
                        p id lectus facilisis, tristique metus non, rutrum odio. Aenean fermentum, ante eget   id lectus facilisis, tristique metus non, rutrum odio. Aenean fermentum, ante eget  